{% extends "admin/admin_base.html" %}

{% block title %}Manage Events{% endblock %}

{% block content %}
<h1>Manage Events</h1>
<a href="{{ url_for('create_event') }}" class="btn btn-success">Create New Event</a>

<div class="list-group mt-3">
    {% for event in events %}
    <!-- Link each event to the update_event route -->
    <a href="{{ url_for('update_event', event_id=event.event_id) }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ event.title }}</h5>
        <p class="mb-1">Date: {{ event.start_date.strftime("%Y-%m-%d %H:%M:%S") }} | Venue: {{ event.venue }}</p>
        <small>Tickets Sold: {{ event.total_tickets - event.available_tickets }}/{{ event.total_tickets }}</small>
    </a>
    {% endfor %}
</div>
{% endblock %}
