{% extends "base.html" %}

{% block title %}Browse Events{% endblock %}

{% block content %}
<h1>Browse Events</h1>
<form class="row g-3">
    <div class="col-md-4">
        <label for="priceRange" class="form-label">Price Range</label>
        <select id="priceRange" class="form-select">
            <option selected>Choose...</option>
            <option>0-50</option>
            <option>50-100</option>
            <option>100-200</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="date" class="form-label">Date</label>
        <input type="date" class="form-control" id="date">
    </div>
    <div class="col-md-4">
        <label for="venue" class="form-label">Venue</label>
        <input type="text" class="form-control" id="venue" placeholder="Enter venue">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="row mt-4">
    {% for event in events %}
    <div class="event-item mb-4">
        <div class="card position-relative">
            <div class="card-body d-flex">

                <!-- Left Section: Vertical Date -->
                <div class="left-section me-3 text-center">
                    <div class="date-vertical">
                        <span class="day">{{ event['start_date'].strftime('%d') }}</span><br>
                        <span class="month">{{ event['start_date'].strftime('%b') }}</span><br>
                        <span class="year">{{ event['start_date'].strftime('%Y') }}</span>
                    </div>
                </div>

                <!-- Middle Section: Event Details -->
                <div class="middle-section flex-grow-1">
                    <p> {{ event['start_date'].strftime('%a, %H:%M') }}</p>
                     <h5 class="card-title">{{ event['title'] }}</h5>
                    <p> {{ event['venue'] }}</p>
                </div>
            </div>

            <!-- Display available tickets -->
            <div class="available-tickets">
                <p><strong>Available Tickets:</strong> {{ event['available_tickets'] }}</p>
            </div>

            <!-- Display view event page button -->
            <div class="view-details">
                <a href="{{ url_for('event_details', event_id=event['event_id']) }}" class="btn btn-circle">
                    View Event
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
