{% extends "base.html" %}

{% block title %}Payment Confirmation{% endblock %}

{% block content %}
<div id="confirmationSection">
    <h1 style="text-align: center;"> {{ firstname }}, you're going to {{ event.title }}!</h1>
    <p></p>
    <p><strong>Event Date:</strong> {{ event.start_date.strftime('%a, %d %B %Y, %H:%M') }}</p>
    <p><strong>Venue:</strong> {{ event.venue }}</p>
    <p><strong>Seats:</strong></p>
    <ul>
        {% for seat in selected_seats %}
            <li> {{ seat }}</li>
        {% endfor %}
    </ul>

    <h3>Total Amount Paid: ${{ total_amount }}</h3>

    <p>Your tickets have been confirmed. You will receive a confirmation email with the details of your purchase shortly. (You wont yet but you will.. when we implement it :D)</p>

    <a href="/" class="btn btn-primary">
        Search for More Events
    </a>
</div>
{% endblock %}