{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.firstname }}</h1>


    <div class="d-flex justify-content-between align-items-center">
        <h2>Your Details</h2>
        <a href="{{ url_for('my_bookings') }}" class="btn btn-primary">View My Bookings</a>
    </div>
    <p><strong>First Name:</strong> {{ user.firstname }}</p>
    <p><strong>Second Name:</strong> {{ user.secondname }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>


    <h2 class="text-start">Your Payment Details</h2>
    <div class="d-flex justify-content-start">
        {% if payment_details %}
            <table class="table table-striped">
                <tr>
                    <th>Cardholder Name</th>
                    <th>Card Type</th>
                    <th>Card Number</th>
                    <th>Billing Address</th>
                </tr>
                {% for payment in payment_details %}
                <tr>
                    <td>{{ payment.cardholder_name }}</td>
                    <td>{{ payment.card_type }}</td>
                    <td>..{{ payment.card_number[-4:] | safe }}</td> <!-- Masked card number -->
                    <td>{{ payment.billing_address }}</td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No payment details available.</p>
        {% endif %}
    </div>

{% endblock %}